nav{
  display: flex;
    background-color: #273032;
    color: violet;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
  
  img {
    height:110px;
    width: 120px;
    display: flex;
    }
  
  
  ul {
    margin: 0px;
    display: flex;
  }
  
  li {
    list-style: none;
    display: inline;
    margin-left: 20px;
  }
  
  a {
    color: pink;
  }
  @media(max-width:20px){
    .barra{
    flex-direction:column;

    }
  }
  
