nav{
    background-color: #273032;
    color: violet;
    padding: 20px;
  }
  
  img {
    height:140px;
    width: 150px;
    display: flex;
    flex-direction:flex-start;
    }
  
  
  ul {
    margin: 0px;
  }
  
  li {
    list-style: none;
    display: inline;
    margin-right: 0.2rem;
  }
  
  a {
    color: pink;
  }
  @media(max-width:20px){
    .barra{
    flex-direction:column;
    }
  }
  .pond {
    display: flex;
  justify-content:right;
  }
  
